@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --primary-color : #34D399;
    --focus-text: tan;
    --off-white: #F8F0E3;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    text-align: center;
    background-color: #53575f;
    color: var(--off-white);
    background-size: 1380px 650px;
}
input{
    display: block;
    margin: 1rem auto;
    font-size: large;
}
h1{
    margin: 3rem auto;
}
label{
    margin: 1rem auto;
}
button{
    color: var(--off-white);
    background: transparent;
    border: 1px solid var(--off-white);
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-weight: bold;
    max-width: 100px;
    cursor: pointer;
}
#output{
    font-size: larger;
    font-weight: bold;
    color: var(--off-white);
}
img{
    width: 200px;
}
